body{
    background-color: black;
    color: black;
    font-family: 'Roboto',sans-serif;
}
.logo{
    text-align: center;
    color: white;
}
.signup-box{
    width: 360px;
    height: 600px;
    margin: auto;
    background-color: yellow;
    border-radius: 5px;
}
h1{
    text-align: center;
    padding-top: 20px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 20px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: grey;
    font-size: 20px;
    cursor: pointer;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-1{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: 20px;
}
.para-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}
.para-2 a{
    color: gray;
}

.login-box{
    width: 360px;
    height: 300px;
    margin: auto;
    border-radius: 5px;
    background-color: yellow;
}